[Unit]
Description=Restart spotifyd after system resume

[Service]
Type=simple
ExecStart=/usr/bin/bash %h/.local/bin/spotifyd-resume
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
